* {
    padding: 0;
    margin: 0;
    font-family: segoe ui,lucida grande,Arial,sans-serif;
}

.text-center {
    text-align: center;
    padding: 0;
    margin: 0;
}

.published, .article {
    box-sizing: border-box;
    padding: 0px 7%;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

.blog #banner {
    padding: 0;
    width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
    box-shadow: inset;
    border-bottom: 10px;
    box-shadow: 0px 3px 7px #554c68;
}

section img {
    width: 100px;
    height: auto;
}

.blog .published {
    text-align: right;
}

.blog strong {
    font-size: 22px;
}
