#head_title {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 2000;
    font-style: bold;
    font-size: 45px;
    margin-left: 25px;
    color: #FF5001;
}
#header-div{
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    box-shadow: 0px 0px 3px 0px #b6b1b1
}
#inner-header-div{
    padding-top: 20px;
}
#search-group{
    margin-top: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
}
#search-bar{
    border-radius: 20px 20px;
}
#category-title {
    font-family: 'Montserrat', sans-serif;  
    font-style: bold;

    margin-right: 25px;
}