
.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  height: 96px;
  transition: transform 1.5s;
  transition-timing-function: cubic-bezier(1.0, 0.5, 1.0, 0.3);
  background-color: #fff;
  box-shadow: 5px 5px 8px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.sidenav-container {
  width:  100%;
  height: auto;
  display: block;
  z-index: 200;
}
.sidenav-text {
  color: #ffffff;
  width: 100%;
  padding-top: 16px;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.sidenav{
  width: 18%;
  background-color: #151922;
  height: 100%;
  position: fixed;
  max-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: max-width 1.5s;
  transition-timing-function: cubic-bezier(1.0, 0.3, 0.5, 0.6);
  z-index: 100;
}
.sidenav-content {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.sidenav-content-item1 {
  color: #ffffff;
  align-self: flex-start;
}
.sidenav-content-item2 {
  color: #ffffff;
  align-self: flex-start;
}
.sidenav-content-item3 {
  color: #ffffff;
  align-self: flex-start;
}
.sidenav-content-item4 {
  color: #ffffff;
  align-self: flex-start;
}
.sidenav-content-item5 {
  color: #ffffff;
  align-self: flex-start;
}
.home-item-icon{
  transition: fill 0.25s ease-in-out;
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-navbar-content{
  margin-top: var(--dl-space-space-tripleunit);
  display: flex;
  width: 50%;
  flex-direction: row;
  transition: opacity 0.25s ease-in-out;
  justify-content: space-between;
  visibility: hidden;
}
.home-navbar-content button{
  width: 170px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 5px 7px;
  transition: transform 0.25s ease-in-out;
}
.home-navbar-content .item{
  transition: transform 0.25s ease-in-out;
}
.home-navbar-content span{
  text-align: center;
  transform: scale(0);
  display: block;
  color: #fff;
  margin-top: var(--dl-space-space-unit);
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  transition: transform 0.25s ease-in-out;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
  color: #ff6a00;
  transition: color 0.35s ease-in-out;
}
.home-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.home-text02 {
  font-style: normal;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-text02:hover {
  color: #9867ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  text-decoration:  none;
}
.home-icon02 {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.home-text03 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
}
.home-text03:hover {
  color: #9867ff;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-link {
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link:hover {
  color: #9867ff;
  margin-left: var(--dl-space-space-unit);
}
.home-icon06 {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.home-link1 {
  transition: 0.3s;
  text-decoration: none;
}
.home-link1:hover {
  color: #9867ff;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
}
.home-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-cta-btn:hover {
  background-color: #ff3c4a;
}
.home-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon10 {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon12 {
  width: 24px;
  height: 24px;
}
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link5 {
  text-decoration: none;
}
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.home-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon18 {
  width: 24px;
  height: 24px;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 138px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading {
  font-size: 50px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text06 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-cta-btn2 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.home-image1 {
  width: 50%;
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text07 {
  font-size: 48px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-text08 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-feature-card {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-image2 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text10 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-link6 {
  color: #209de0;
  text-decoration: underline;
}
.home-feature-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 12px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-image3 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text11 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-link7 {
  color: #209de0;
  text-decoration: underline;
}
.home-feature-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-image4 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text13 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-link8 {
  color: #209de0;
  text-decoration: underline;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero-text-container {
    width: 80%;
  }
  .home-cta-btn2 {
    width: 40%;
  }
  .home-image1 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-text06 {
    text-align: center;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-feature-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card2 {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-image1 {
    width: 100%;
  }
  .home-feature-card {
    width: 100%;
  }
  .home-feature-card1 {
    width: 100%;
  }
  .home-feature-card2 {
    width: 100%;
  }
}
